{% extends "base.html" %}
{% load app_extras %}


{% load static %}
{% block content %}
  <section class="mb-4">
  <div class="container-fluid h-custom">
      <div class="mt-5 pt-5">
        <h1 class="h2">Vencimientos</h1>
        {% if messages %}

          {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger m-0 p-0" role="alert">
              {{ message }}
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success m-0" role="alert">
              {{ message }}
            </div>
            {% else %}
            <div class="alert alert-primary m-0" role="alert">
              {{ message }}
            </div>
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
          
      <div class="col">
        <div class="card mb-3 p-4 border-0 shadow-sm" style="max-width: 540px;">
          <h4 class="h4 ">Importar desde excel</h4>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              
              <label for="formFile" class="form-label">Excel a importar</label>
              <input name="file1" class="form-control" type="file" id="formFile">
            </div>
            <label for="month">Seleccionar mes a cargar:</label>
          <select class="form-select" name="month" id="month">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo </option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>

            <!-- Agrega el resto de los meses -->
          </select>
        
          <label for="year">Seleccionar año a cargar:</label>
          <select class="form-select" name="year" id="year">
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <!-- Agrega el rango de años que necesites -->
          </select>
            <button name="importar_excel" class="btn btn-primary mt-3" type="submit">Importar datos</button>
      
            
        </form>
      
  
        
        
  
          </div>
        </div>


      
      </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pt-4">
        <div class="btn-toolbar mb-2">
        <form method="POST" action="{% url 'vencimientos' %}" id="deleteForm">
          {% csrf_token %}
          <input type="hidden" name="delete_data" value="delete_data">
          <button type="submit" class="btn btn-danger" id="deleteButton">Eliminar datos</button>
        </form>
      </div>
        <div class="btn-toolbar mb-2">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="monthDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Seleccionar mes
            </button>
            <ul class="dropdown-menu" aria-labelledby="monthDropdown">
              <li><a class="dropdown-item" href="?month=1">Enero</a></li>
              <li><a class="dropdown-item" href="?month=2">Febrero</a></li>
              <li><a class="dropdown-item" href="?month=3">Marzo</a></li>
              <li><a class="dropdown-item" href="?month=4">Abril</a></li>
              <li><a class="dropdown-item" href="?month=5">Mayo</a></li>
              <li><a class="dropdown-item" href="?month=6">Junio</a></li>
              <li><a class="dropdown-item" href="?month=7">Julio</a></li>
              <li><a class="dropdown-item" href="?month=8">Agosto</a></li>
              <li><a class="dropdown-item" href="?month=9">Septiembre</a></li>
              <li><a class="dropdown-item" href="?month=10">Octubre</a></li>
              <li><a class="dropdown-item" href="?month=11">Noviembre</a></li>
              <li><a class="dropdown-item" href="?month=12">Diciembre</a></li>
            </ul>
          </div>
           
        </div>
      </div>
         
            <div class="table-responsive mb-2">
            
                <table class="table table bg-white rounded shadow-sm">
                    <thead>
                      <tr>
                        <th scope="col">Asegurador</th>
                        <th scope="col">Riesgo</th>
                        <th scope="col">Productor</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Póliza</th>
                        <th scope="col">Fecha de vencimiento</th>
                        <th scope="col">Moneda</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Forma de pago</th>
                        <th scope="col">Factura</th>
      
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for vencimiento in pages %}
                      
                      <tr>
                          <td>{{ vencimiento.asegurador }}</td>
                          <td>{{ vencimiento.riesgo }}</td>
                          <td>{{ vencimiento.productor }}</td>
                          <td>{{ vencimiento.cliente }}</td>
                          <td>{{ vencimiento.poliza }}</td>
                          <td>{{ vencimiento.fecha_vencimiento|date:"d/m/Y"  }}</td>
                          <td>{{ vencimiento.moneda }}</td>
                          <td>{{ vencimiento.importe }}</td>
                          <td>{{ vencimiento.saldo }}</td>
                          <td>{{ vencimiento.forma_pago }}</td>
                          <td>{{ vencimiento.factura }}</td>

      
      
                          <td>
                            <a class="w-10 btn btn-sm btn-primary" href="#">
                              <span class="material-icons align-middle">
                                edit
                              </span>
                            </a>
                          </td>
                          <td>
                            <button type="submit" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar" data-url="#">
                              <span class="material-icons align-middle">
                                delete
                              </span>
                            </button>
                       
                          
                          </td>
                        </tr>
                     
                  
                      {% endfor %}
                    </tbody>
                </table>
            </div>  
            <div class="app-table">
            <div class="table-output">
      <tbody id="table-body" class="table-body"> </tbody></div>
          </div>
        </div>
      <div class="mx-2">
              <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
      
      
                  {% if pages.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; primer página</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="{% my_url pages.previous_page_number 'page' request.GET.urlencode %}">anterior</a>
                    </li>
      
                      {% endif %}
            
            
                      <li class="page-item">
                        
                      <a class="page-link" href="{% my_url pages.number 'page' request.GET.urlencode %}">{{ pages.number }}</a>
                    
                     
                      </li>
                      <li class="page-item">
                        
                        <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">{{ pages.paginator.num_pages }}</a>
                      
                       
                        </li>
                  
                
             
                  {% if pages.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="{% my_url pages.next_page_number 'page' request.GET.urlencode %}">siguiente</a>
                   </li>
                   <li class="page-item">
                  <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">última página &raquo;</a>
                </li>
                  {% endif %}
                </ul>
                </nav>
         
        </div>
        </div>
      </div>
    </div>
      

  </section>
  <script src="{% static 'js/swal.js' %}"></script>
  <script src="{% static 'js/fileInput.js' %}"></script>
{% endblock %}