{% extends "base.html" %}
{% load app_extras %}


{% load static %}
{% block content %}
  <section class="mb-4">
  <div class="container-fluid h-custom">
      <div class="mt-5 pt-5">
        <h1 class="h2">Póliza: {{flota.poliza}}</h1>
      
        {% if messages %}

        {% for message in messages %}
          {% if message.tags == 'error' %}
          <div class="alert alert-danger m-0 p-0" role="alert">
            {{ message }}
          </div>
          {% elif message.tags == 'success' %}
          <div class="alert alert-success m-0" role="alert">
            {{ message }}
          </div>
          {% else %}
          <div class="alert alert-primary m-0" role="alert">
            {{ message }}
          </div>
          {% endif %}
        {% endfor %}

      {% endif %}
          <!--
            FORMULARIO IMPORTACION DESDE EXCEL
          -->
          <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
              
          <div class="col">
            
            <div class="card mb-3 p-4 border-0 shadow-sm" style="max-width: 540px;">
              <h2 > 
                Agregar endoso
              </h2>
              
              <form class="pt-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="text-danger">
                  Verificar que los endosos esten ordenados de forma ascendente!
                </p>

                <div class="mb-3">
                  
                  <label for="formFile" class="form-label">Excel de flota</label>
                  <input name="file1" class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-3">
                  <label for="fuente_datos" class="form-label">Fuente de datos:</label>
                  <select name="fuente_datos" class="form-select" aria-label="Default select example">
                      <option selected>Seleccionar fuente de datos</option>
                      <option value="excel">Datos del Excel</option>
                      <option value="info_auto">Datos de Info Auto</option>
                      <option value="base_datos">Datos de la base de datos propia</option>
                  </select>
              </div>

              <button name="calcular_excel" class="btn btn-primary mb-2" type="submit">Agregar</button>

                
            </form>
          </div>
        </div>

   
  
      <!--
        MOVIMIENTOS
      -->
      <div class="">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">

       

      </div>
        <!-- Menú scrollable con movimientos -->
        <div class="list-group overflow-auto d-none d-lg-block shadow-sm" style="max-height: 414px;">
          <!-- Loop sobre los movimientos -->
          {% for movimiento in movimientos %}
            <div  class="list-group-item border-top-0 border-end-0 border-start-0">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{movimiento.numero_endoso}}</h5>
                <div>
                  <a class="shadow-sm w-10 btn btn-sm mx-1 " href="{% url 'detalle_flota_con_movimiento' flota.id movimiento.id%}">
                    <span class="material-icons-primary align-middle">
                      visibility
                      </span>
                  </a>
                  {% if is_staff %}
                  <button type="button" class="btn btn-sm shadow-sm editar-movimiento-btn" data-bs-toggle="modal" data-bs-target="#modalMovimiento" data-movimiento-id="{{ movimiento.id }}">
                    <span class="material-icons-dark align-middle">
                      edit
                    </span>
                  </button>
                  {% endif %}
                  <form method="POST" class="d-inline" action="{% url 'exportar_movimiento' flota.id movimiento.id %}">
                    {% csrf_token %}
                  <button type="submit" class="shadow-sm w-10 btn btn-sm exportar-excel mx-1">
                    <img class="material-icons align-middle" src="{% static 'svg/file_download_success.svg' %}" alt="Descargar archivo">
                      
                  </button>
                </form>

                <button type="button" class="shadow-sm w-10 btn btn-sm link-danger eliminar-elemento confirmar-eliminar mx-1" data-url="{% url 'delete_movimiento' flota.id movimiento.id %}">
                  <span class="material-icons-danger align-middle">
                    delete
                    </span>
                </button>


                </div>
              </div>
              <p class="mb-1">{{movimiento.motivo_endoso}}</p>
              
              <p class="mb-1">Fecha de operación: {{movimiento.fecha_alta_op}}</p>
              
            </div>
            
          {% endfor %}
          
        </div>
        <div class="list-group overflow-auto  d-block d-lg-none shadow-sm" style="max-height: 458px;">
          <!-- Loop sobre los movimientos -->
          
          {% for movimiento in movimientos %}
            <div  class="list-group-item border-top-0 border-end-0 border-start-0">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{movimiento.numero_endoso}}</h5>
                <div>
                  <a class="btn btn-sm shadow-sm mx-1" href="{% url 'detalle_flota_con_movimiento' flota.id movimiento.id%}">
                    <span class="material-icons-primary align-middle">
                      visibility
                    </span>
                  </a>
                  {% if is_staff %}
                  <button type="button" class="btn btn-sm shadow-sm editar-movimiento-btn" data-bs-toggle="modal" data-bs-target="#modalMovimiento" data-movimiento-id="{{ movimiento.id }}">
                    <span class="material-icons-dark align-middle">
                      edit
                    </span>
                  </button>
                  {% endif %}
                  <form method="POST" class="d-inline" action="{% url 'exportar_movimiento' flota.id movimiento.id %}">
                    {% csrf_token %}
                  <button type="submit" class="w-10 btn shadow-sm btn-sm link-success exportar-excel mx-1 ">
                    <img class="material-icons align-middle" src="{% static 'svg/file_download_success.svg' %}" alt="Descargar archivo">
                      
                  </button>
                </form>

                <button type="button" class=" shadow-sm w-10 btn btn-sm link-danger eliminar-elemento confirmar-eliminar mx-1" data-url="{% url 'delete_movimiento' flota.id movimiento.id %}">
                  <span class="material-icons-danger align-middle">
                    delete
                    </span>
                    
                </button>


                </div>
              </div>
              <p class="mb-1">{{movimiento.motivo_endoso}}</p>
              
              <p class="mb-1">Fecha de operación: {{movimiento.fecha_alta_op}}</p>
              
            </div>
          {% endfor %}
          
        </div>
      </div>

</div>
<div class="modal fade" id="modalMovimiento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 " id="exampleModalLabel">Editar datos de endoso</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
      <div class="modal-body">
        <!-- Campo oculto para el ID del movimiento -->
    <input type="hidden" id="movimiento_id" name="movimiento_id" value="{{ data.movimiento_id }}">
        <div class="mb-3">
          
          <label for="numero_endoso" class="form-label">Número de endoso</label>
          <input name="numero_endoso" class="form-control" type="text" id="numero_endoso" value="{{data.numero_endoso}}">
        </div>
        <div class="mb-3">
          
          <label for="motivo_endoso" class="form-label">Motivo de endoso</label>
          <input name="motivo_endoso" class="form-control" type="" id="motivo_endoso" value="{{data.motivo_endoso}}">
        </div>
        <div class="mb-3">
          
          <label for="numero_orden" class="form-label">Número de orden</label>
          <input name="numero_orden" class="form-control" type="text" id="numero_orden" value="{{data.numero_orden}}">
        </div>
        <div class="mb-3">
          
          <label for="fecha_alta_op" class="form-label">Fecha de alta</label>
          <input name="fecha_alta_op" class="form-control" type="date" id="fecha_alta_op" value="{{data.fecha_alta_op}}">
        </div>
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button name="editar_movimiento" class="btn btn-primary" type="submit">Guardar</button>
      
      </div>
  </form>
    </div>
  </div>
</div>
 

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2">
        <h2>
          Vehiculos 
        </h2>

        {% comment %} <div class="btn-toolbar mb-2 mb-md-0">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="monthDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Seleccionar mes
            </button>
            <ul class="dropdown-menu" aria-labelledby="monthDropdown">
              <li><a class="dropdown-item" href="?month=1">Enero</a></li>
              <li><a class="dropdown-item" href="?month=2">Febrero</a></li>
              <li><a class="dropdown-item" href="?month=3">Marzo</a></li>
              <li><a class="dropdown-item" href="?month=4">Abril</a></li>
              <li><a class="dropdown-item" href="?month=5">Mayo</a></li>
              <li><a class="dropdown-item" href="?month=6">Junio</a></li>
              <li><a class="dropdown-item" href="?month=7">Julio</a></li>
              <li><a class="dropdown-item" href="?month=8">Agosto</a></li>
              <li><a class="dropdown-item" href="?month=9">Septiembre</a></li>
              <li><a class="dropdown-item" href="?month=10">Octubre</a></li>
              <li><a class="dropdown-item" href="?month=11">Noviembre</a></li>
              <li><a class="dropdown-item" href="?month=12">Diciembre</a></li>
            </ul>
          </div>
           
        </div> {% endcomment %}
      </div>
        <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 " id="exampleModalLabel">Agregar endosos de flota</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3">
            
            <label for="formFile" class="form-label">Excel de flota</label>
            <input name="file1" class="form-control" type="file" id="formFile">
          </div>
          <div class="mb-3">
            <label for="fuente_datos" class="form-label">Fuente de datos:</label>
            <select name="fuente_datos" class="form-select" aria-label="Default select example">
                <option selected>Seleccionar fuente de datos</option>
                <option value="excel">Datos del Excel</option>
                <option value="info_auto">Datos de Info Auto</option>
                <option value="base_datos">Datos de la base de datos propia</option>
            </select>
        </div>
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button name="calcular_excel" class="btn btn-primary" type="submit">Guardar</button>
        <button type="submit" name="descargar_excel" class="btn btn-secondary">Descargar modelo de flotas</button>
        </div>
    </form>
      </div>
    </div>
  </div>
        
     

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2">
               <!-- Button trigger modal -->
{% comment %} <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar varios endosos
</button> {% endcomment %}
<form method="POST" class="d-inline" action="{% url 'exportar_ult_estado' flota.id %}">
  {% csrf_token %}
<button type="submit" class="btn btn-success mb-3 d-flex align-items-center">
    <img class="material-icons" src="{% static 'svg/file_download.svg' %}" alt="Descargar archivo">
    Exportar reporte
  </button>
</form>

       
      </div>
         <div class="row">
            <div class="table-responsive mb-2">
            
                <table class="table bg-white rounded shadow-sm">
                    <thead>
                      <tr>
                        <th scope="col">Código info auto</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Tipo vehículo</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Patente</th>
                        <th scope="col">Año</th>
                        <th scope="col">0km</th>
                        <th scope="col">Motor</th>
                        <th scope="col">Chasis</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Zona</th>
                        <th scope="col">Vigencia desde</th>
                        <th scope="col">Vigencia hasta</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Uso</th>
                        <th scope="col">Suma asegurada</th>
                        <th scope="col">Valor actual</th>
                        <th scope="col">Cobertura</th>
                        <th scope="col">Tasa</th>
                        <th scope="col">Prima RC</th>
                        <th scope="col">Prima técnica</th>
                        <th scope="col">Prima de póliza</th>
                        <th scope="col">Premio sin IVA</th>
                        <th scope="col">Premio con IVA</th>





      
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for vehiculo in pages %}
                      
                      <tr>
                        <td>{{ vehiculo.cod }}</td>
                        <td>{{ vehiculo.marca }}</td>
                        <td>{{ vehiculo.modelo }}</td>
                        <td>{{ vehiculo.descripcion }}</td>
                        <td>{{ vehiculo.tipo_vehiculo }}</td>
                        <td>{{ vehiculo.usuario_item }}</td>
                        <td>{{ vehiculo.patente }}</td>
                        <td>{{ vehiculo.anio }}</td>
                        <td>{{ vehiculo.okm }}</td>
                        <td>{{ vehiculo.motor }}</td>
                        <td>{{ vehiculo.chasis }}</td>
                        <td>{{ vehiculo.localidad }}</td>
                        <td>{{ vehiculo.zona }}</td>
                        <td>{{ vehiculo.vigencia_desde|date:"d/m/Y"  }}</td>
                        <td>{{ vehiculo.vigencia_hasta|date:"d/m/Y"  }}</td>
                        <td>{{ vehiculo.estado }}</td>
                        <td>{{ vehiculo.uso_vehiculo }}</td>
                        <td>{{ vehiculo.suma_asegurada }}</td>
                        <td>{{ vehiculo.valor_actual }}</td>
                        <td>{{ vehiculo.tipo_cobertura }}</td>
                        <td>{{ vehiculo.tasa }}</td>
                        <td>{{ vehiculo.prima_rc }}</td>
                        <td>{{ vehiculo.prima_tecnica }}</td>
                        <td>{{ vehiculo.prima_pza }}</td>
                        <td>{{ vehiculo.premio_sin_iva }}</td>
                        <td>{{ vehiculo.premio_con_iva }}</td>


      
      
                          <td>
                            <a class="w-10 btn btn-sm btn-primary" href="#">
                           
                              <span class="material-icons align-middle">
                                edit
                              </span>
                            </a>
                          </td>
                          <td>
                            <button type="submit" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar" data-url="#">
                              <span class="material-icons align-middle">
                                delete
                              </span>
                            </button>
                       
                          
                          </td>
                        </tr>
                     
                  
                      {% endfor %}
                    </tbody>
                </table>
            </div>  
            <div class="app-table">
            <div class="table-output">
      <tbody id="table-body" class="table-body"> </tbody></div>
          </div>
        </div>
      <div class="mx-2">
              <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
      
      
                  {% if pages.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; primer página</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="{% my_url pages.previous_page_number 'page' request.GET.urlencode %}">anterior</a>
                    </li>
      
                      {% endif %}
            
            
                      <li class="page-item">
                        
                      <a class="page-link" href="{% my_url pages.number 'page' request.GET.urlencode %}">{{ pages.number }}</a>
                    
                     
                      </li>
                      <li class="page-item">
                        
                        <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">{{ pages.paginator.num_pages }}</a>
                      
                       
                        </li>
                  
                
             
                  {% if pages.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="{% my_url pages.next_page_number 'page' request.GET.urlencode %}">siguiente</a>
                   </li>
                   <li class="page-item">
                  <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">última página &raquo;</a>
                </li>
                  {% endif %}
                </ul>
                </nav>
                
              </div>
        </div>
        </div>
      </div>
    </div>
      

  </section>
  <script src="{% static 'js/swal.js' %}"></script>
  <script src="{% static 'js/editarMovimiento.js' %}"></script>
{% endblock %}