<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe Insur {{fecha_formateada}} - HZ</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: #333;
}

header {
    text-align: left;
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border-bottom: 4px solid #357ab8;
    position: relative;
    padding-bottom: 88px;
}

header .left-info {
    position: absolute;
    left: 20px;
    top: 50px;
    text-align: left;
    color: white;
}

header .left-info .categoria {
    font-weight: bold;
    font-size: 1.2em;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    padding-top: 10px;
}

header p {
    margin: 5px 0;
}

section.clientes {
    padding: 10px;
    margin: 16px 20px;
    margin-bottom: 0px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section.clientes-reducciones-cancelaciones {
    padding: 10px;
    margin: 16px 20px;
    margin-bottom: 0px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section.clientes h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #4a90e2;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    font-size: 0.9em;
}

table, th, td {
    border: 1px solid #ddd;
}

.table-container {
    overflow-x: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px 0px;
    padding: 0px;
    max-width: 90%;
    box-sizing: border-box;
}


th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e2f1ff;
}


@media (min-width: 768px) {
    body {
        margin: 10px;
    }

    section.clientes {
        margin: 10px auto;
        max-width: 800px;
    }
}

    </style>
{% load custom_filters %}

</head>
<body>
    <header>
        <div class="left-info">
            <p class="categoria">{{asegurado.nombre_asegurado}}</p>
            <p>{{fecha_formateada}}</p>
            <p>Moneda: US</p>
        </div>
        <h1>Informe de gestión - Seguro de crédito</h1>
    </header>
    {% if tiene_divisiones %}
    {% comment %} INICIO ENVASES {% endcomment %}
    <section class="clientes">
        <h2>Solicitudes de cobertura</h2>
        <table>
            <thead>
                <tr>
                    <th>Gestión</th>
                    <th>#</th>
                    <th>Solicitado</th>
                    <th>Aprobado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>APROBADO</td>
                    <td>{{datos_solicitudes_cobertura.num_cobertura_aprob_envases}}</td>
                    <td>{{datos_solicitudes_cobertura.cant_solicitado_aprob_envases|format_number}}</td>
                    <td>{{datos_solicitudes_cobertura.cant_aprobado_aprob_envases|format_number}} ({{datos_solicitudes_cobertura.porcentaje_aprob_envases}}%)</td>
                </tr>
                <tr>
                    <td>RECHAZADO</td>
                    <td>{{datos_solicitudes_cobertura.num_cobertura_rechaz_envases}}</td>
                    <td>{{datos_solicitudes_cobertura.cant_solicitado_rechaz_envases|format_number}}</td>
                    <td></td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
            <tfoot>
                <tr>
                  <td>Total</td>
                  <td>{{datos_solicitudes_cobertura.num_total_cobertura_envases}}</td>
                  <td>{{datos_solicitudes_cobertura.total_solicitado_envases|format_number}}</td>
                  <td>{{datos_solicitudes_cobertura.cant_aprobado_aprob_envases|format_number}} ({{datos_solicitudes_cobertura.porcentaje_total_aprob_envases}}%)</td> 
                </tr>
              </tfoot>
        </table>
    </section>
    <section class="clientes">
        <h2>Clientes nuevos o sin cobertura</h2>
        <table>
            <thead>
                <tr>
                    <th>Gestión</th>
                    <th>#</th>
                    <th>Solicitado</th>
                    <th>Aprobado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>APROBADO</td>
                    <td>{{datos_clientes_nuevos.envases.num_cobertura_aprob}}</td>
                    <td>{{datos_clientes_nuevos.envases.cant_solicitado_aprob|format_number}}</td>
                    <td>{{datos_clientes_nuevos.envases.cant_aprobado_aprob|format_number}} ({{datos_clientes_nuevos.envases.porcentaje_aprob}}%)</td>
                </tr>
                <tr>
                    <td>RECHAZADO</td>
                    <td>{{datos_clientes_nuevos.envases.num_cobertura_rechaz}}</td>
                    <td>{{datos_clientes_nuevos.envases.cant_solicitado_rechaz|format_number}}</td>
                    <td></td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>{{datos_clientes_nuevos.envases.num_total_cobertura_envases}}</td>
                    <td>{{datos_clientes_nuevos.envases.total_solicitado|format_number}}</td>
                    <td>{{datos_clientes_nuevos.envases.cant_aprobado_aprob|format_number}} ({{datos_clientes_nuevos.envases.porcentaje_total_aprob_envases}}%)</td> 
                </tr>
            </tfoot>
        </table>
    </section>
    <section class="clientes">
        <h2>Re estudios</h2>
        <table>
            <thead>
                <tr>
                    <th>Gestión</th>
                    <th>#</th>
                    <th>Solicitado</th>
                    <th>Anterior</th>
                    <th>Aprobado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>APROBADO</td>
                    <td>{{datos_reestudios.envases.num_reestudios_aprob}}</td>
                    <td>{{datos_reestudios.envases.cant_solicitado_aprob|format_number}}</td>
                    <td>{{datos_reestudios.envases.monto_aprobado_anteriores_aprob|format_number}}</td>
                    <td>{{datos_reestudios.envases.cant_aprobado_aprob|format_number}} ({{datos_reestudios.envases.porcentaje_aprob}}%)</td>
                
                </tr>
                <tr>
                    <td>RECHAZADO</td>
                    <td>{{datos_reestudios.envases.num_reestudios_rechaz}}</td>
                    <td>{{datos_reestudios.envases.cant_solicitado_rechaz|format_number}}</td>
                    <td>{{datos_reestudios.envases.monto_aprobado_anteriores_rechaz|format_number}}</td>
                    <td></td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
            <tfoot>
                <tr>
                  <td>Total</td>
                  <td>{{datos_reestudios.envases.num_total_reestudios}}</td>
                  <td>{{datos_reestudios.envases.total_solicitado|format_number}}</td>
                  <td>{{datos_reestudios.envases.monto_aprobado_anteriores_total|format_number}}</td>
                  <td>{{datos_reestudios.envases.cant_aprobado_aprob|format_number}} ({{datos_reestudios.envases.porcentaje_total_aprob}}%)</td> 
                </tr>
            </tfoot>
        </table>
    </section>
    <section class="clientes">
        <h2>Reducciones / cancelaciones</h2>
        <table>
            <thead>
                <tr>
                    <th>Gestión</th>
                    <th>#</th>
                    <th>Anterior</th>
                    <th>Vigente</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>REDUCCIÓN</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>CANCELADO</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
            <tfoot>
                <tr>
                  <td>Total</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
            </tfoot>
        </table>
    </section>
    <section class="clientes">
        <h2></h2>
        <div class="table-container">
        <table class="tabla-reducciones-cancelaciones">
            <thead>
                <tr>
                    <th>Razón social</th>
                    <th>Gestión</th>
                    <th>Exposición</th>
                    <th>Cubierto</th>
                    <th>Anterior</th>
                    <th>Actual</th>
                    <th>Estado deuda</th>
                    <th>Comercial</th>
                    <th>División</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <!-- Más filas aquí -->
            </tbody>
        </table>
    </div>
    </section>
    <section class="clientes">
        <h2>Prorrogas solicitadas</h2>
        <table>
            <thead>
                <tr>
                    <th>Razón social</th>
                    <th>Monto</th>
                    <th>Cubierto</th>
                    <th>Vencimiento</th>
                    <th>Prorroga</th>
                    <th>Estado</th>
                    <th>Comercial</th>
                    <th>División</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                
                <!-- Más filas aquí -->
            </tbody>

        </table>
    </section>
{% comment %} FIN ENVASES {% endcomment %}

{% comment %} INICIO CARTULINAS {% endcomment %}
<section class="clientes">
    <h2>Solicitudes de cobertura</h2>
    <table>
        <thead>
            <tr>
                <th>Gestión</th>
                <th>#</th>
                <th>Solicitado</th>
                <th>Aprobado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>APROBADO</td>
                <td>{{datos_solicitudes_cobertura.num_cobertura_aprob_cartulinas}}</td>
                <td>{{datos_solicitudes_cobertura.cant_solicitado_aprob_cartulinas|format_number}}</td>
                <td>{{datos_solicitudes_cobertura.cant_aprobado_aprob_cartulinas|format_number}} ({{datos_solicitudes_cobertura.porcentaje_aprob_cartulinas}}%)</td>
            </tr>
            <tr>
                <td>RECHAZADO</td>
                <td>{{datos_solicitudes_cobertura.num_cobertura_rechaz_cartulinas}}</td>
                <td>{{datos_solicitudes_cobertura.cant_solicitado_rechaz_cartulinas|format_number}}</td>
                <td></td>
            </tr>
            <!-- Más filas aquí -->
        </tbody>
        <tfoot>
            <tr>
              <td>Total</td>
              <td>{{datos_solicitudes_cobertura.num_total_cobertura_cartulinas}}</td>
              <td>{{datos_solicitudes_cobertura.total_solicitado_cartulinas|format_number}}</td>
              <td>{{datos_solicitudes_cobertura.cant_aprobado_aprob_cartulinas|format_number}} ({{datos_solicitudes_cobertura.porcentaje_total_aprob_cartulinas}}%)</td> 
            </tr>
          </tfoot>
    </table>
</section>
<section class="clientes">
    <h2>Clientes nuevos o sin cobertura</h2>
    <table>
        <thead>
            <tr>
                <th>Gestión</th>
                <th>#</th>
                <th>Solicitado</th>
                <th>Aprobado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>APROBADO</td>
                <td>{{datos_clientes_nuevos.cartulinas.num_cobertura_aprob}}</td>
                <td>{{datos_clientes_nuevos.cartulinas.cant_solicitado_aprob|format_number}}</td>
                <td>{{datos_clientes_nuevos.cartulinas.cant_aprobado_aprob|format_number}} ({{datos_clientes_nuevos.cartulinas.porcentaje_aprob}}%)</td>
            </tr>
            <tr>
                <td>RECHAZADO</td>
                <td>{{datos_clientes_nuevos.cartulinas.num_cobertura_rechaz}}</td>
                <td>{{datos_clientes_nuevos.cartulinas.cant_solicitado_rechaz|format_number}}</td>
                <td></td>
            </tr>
            <!-- Más filas aquí -->
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>{{datos_clientes_nuevos.cartulinas.num_total_cobertura_cartulinas}}</td>
                <td>{{datos_clientes_nuevos.cartulinas.total_solicitado|format_number}}</td>
                <td>{{datos_clientes_nuevos.cartulinas.cant_aprobado_aprob|format_number}} ({{datos_clientes_nuevos.cartulinas.porcentaje_total_aprob_cartulinas}}%)</td> 
            </tr>
        </tfoot>
    </table>
</section>
<section class="clientes">
    <h2>Re estudios</h2>
    <table>
        <thead>
            <tr>
                <th>Gestión</th>
                <th>#</th>
                <th>Solicitado</th>
                <th>Anterior</th>
                <th>Aprobado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>APROBADO</td>
                <td>{{datos_reestudios.cartulinas.num_reestudios_aprob}}</td>
                <td>{{datos_reestudios.cartulinas.cant_solicitado_aprob|format_number}}</td>
                <td>{{datos_reestudios.cartulinas.monto_aprobado_anteriores_aprob|format_number}}</td>
                <td>{{datos_reestudios.cartulinas.cant_aprobado_aprob|format_number}} ({{datos_reestudios.cartulinas.porcentaje_aprob}}%)</td>
            
            </tr>
            <tr>
                <td>RECHAZADO</td>
                <td>{{datos_reestudios.cartulinas.num_reestudios_rechaz}}</td>
                <td>{{datos_reestudios.cartulinas.cant_solicitado_rechaz|format_number}}</td>
                <td>{{datos_reestudios.cartulinas.monto_aprobado_anteriores_rechaz|format_number}}</td>
                <td></td>
            </tr>
            <!-- Más filas aquí -->
        </tbody>
        <tfoot>
            <tr>
              <td>Total</td>
              <td>{{datos_reestudios.cartulinas.num_total_reestudios}}</td>
              <td>{{datos_reestudios.cartulinas.total_solicitado|format_number}}</td>
              <td>{{datos_reestudios.cartulinas.monto_aprobado_anteriores_total|format_number}}</td>
              <td>{{datos_reestudios.cartulinas.cant_aprobado_aprob|format_number}} ({{datos_reestudios.cartulinas.porcentaje_total_aprob}}%)</td> 
            </tr>
        </tfoot>
    </table>
</section>
<section class="clientes">
    <h2>Reducciones / cancelaciones</h2>
    <table>
        <thead>
            <tr>
                <th>Gestión</th>
                <th>#</th>
                <th>Anterior</th>
                <th>Vigente</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>REDUCCIÓN</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>CANCELADO</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <!-- Más filas aquí -->
        </tbody>
        <tfoot>
            <tr>
              <td>Total</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
        </tfoot>
    </table>
</section>
<section class="clientes">
    <h2></h2>
    <div class="table-container">
    <table class="tabla-reducciones-cancelaciones">
        <thead>
            <tr>
                <th>Razón social</th>
                <th>Gestión</th>
                <th>Exposición</th>
                <th>Cubierto</th>
                <th>Anterior</th>
                <th>Actual</th>
                <th>Estado deuda</th>
                <th>Comercial</th>
                <th>División</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>

            <!-- Más filas aquí -->
        </tbody>
    </table>
</div>
</section>
<section class="clientes">
    <h2>Prorrogas solicitadas</h2>
    <table>
        <thead>
            <tr>
                <th>Razón social</th>
                <th>Monto</th>
                <th>Cubierto</th>
                <th>Vencimiento</th>
                <th>Prorroga</th>
                <th>Estado</th>
                <th>Comercial</th>
                <th>División</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            
            <!-- Más filas aquí -->
        </tbody>

    </table>
</section>
{% comment %} FIN CARTULINAS {% endcomment %}


{% comment %} INICIO SIN DIVISIONES {% endcomment %}

{% else %}
    <section class="clientes">
        <h2>Solicitudes de cobertura</h2>
        <table>
            <thead>
                <tr>
                    <th>Gestión</th>
                    <th>#</th>
                    <th>Solicitado</th>
                    <th>Aprobado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>APROBADO</td>
                    <td>{{datos_solicitudes_cobertura.num_cobertura_aprob}}</td>
                    <td>{{datos_solicitudes_cobertura.cant_solicitado_aprob|format_number}}</td>
                    <td>{{datos_solicitudes_cobertura.cant_aprobado_aprob|format_number}} ({{datos_solicitudes_cobertura.porcentaje_aprob}}%)</td>
                </tr>
                <tr>
                    <td>RECHAZADO</td>
                    <td>{{datos_solicitudes_cobertura.num_cobertura_rechaz}}</td>
                    <td>{{datos_solicitudes_cobertura.cant_solicitado_rechaz|format_number}}</td>
                    <td></td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
            <tfoot>
                <tr>
                  <td>Total</td>
                  <td>{{datos_solicitudes_cobertura.num_total_cobertura}}</td>
                  <td>{{datos_solicitudes_cobertura.total_solicitado|format_number}}</td>
                  <td>{{datos_solicitudes_cobertura.cant_aprobado_aprob|format_number}} ({{datos_solicitudes_cobertura.porcentaje_total_aprob}}%)</td> 
                </tr>
              </tfoot>
        </table>
    </section>
    <section class="clientes">
        <h2>Clientes nuevos o sin cobertura</h2>
        <table>
            <thead>
                <tr>
                    <th>Gestión</th>
                    <th>#</th>
                    <th>Solicitado</th>
                    <th>Aprobado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>APROBADO</td>
                    <td>{{datos_clientes_nuevos.num_cobertura_aprob}}</td>
                    <td>{{datos_clientes_nuevos.cant_solicitado_aprob|format_number}}</td>
                    <td>{{datos_clientes_nuevos.cant_aprobado_aprob|format_number}} ({{datos_clientes_nuevos.porcentaje_aprob}}%)</td>
                </tr>
                <tr>
                    <td>RECHAZADO</td>
                    <td>{{datos_clientes_nuevos.num_cobertura_rechaz}}</td>
                    <td>{{datos_clientes_nuevos.cant_solicitado_rechaz|format_number}}</td>
                    <td></td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>{{datos_clientes_nuevos.num_total_cobertura}}</td>
                    <td>{{datos_clientes_nuevos.total_solicitado|format_number}}</td>
                    <td>{{datos_clientes_nuevos.cant_aprobado_aprob|format_number}} ({{datos_clientes_nuevos.porcentaje_total_aprob}}%)</td> 
                </tr>
            </tfoot>
        </table>
    </section>
    <section class="clientes">
        <h2>Re estudios</h2>
        <table>
            <thead>
                <tr>
                    <th>Gestión</th>
                    <th>#</th>
                    <th>Solicitado</th>
                    <th>Anterior</th>
                    <th>Aprobado</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>APROBADO</td>
                    <td>{{datos_reestudios.sin_separacion.num_reestudios_aprob}}</td>
                    <td>{{datos_reestudios.sin_separacion.cant_solicitado_aprob|format_number}}</td>
                    <td>{{datos_reestudios.sin_separacion.monto_aprobado_anteriores_aprob|format_number}}</td>
                    <td>{{datos_reestudios.sin_separacion.cant_aprobado_aprob|format_number}} ({{datos_reestudios.porcentaje_aprob}}%)</td>
                
                </tr>
                <tr>
                    <td>RECHAZADO</td>
                    <td>{{datos_reestudios.sin_separacion.num_reestudios_rechaz}}</td>
                    <td>{{datos_reestudios.sin_separacion.cant_solicitado_rechaz|format_number}}</td>
                    <td>{{datos_reestudios.sin_separacion.monto_aprobado_anteriores_rechaz|format_number}}</td>
                    <td></td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
            <tfoot>
                <tr>
                  <td>Total</td>
                  <td>{{datos_reestudios.sin_separacion.num_total_reestudios}}</td>
                  <td>{{datos_reestudios.sin_separacion.total_solicitado|format_number}}</td>
                  <td>{{datos_reestudios.sin_separacion.monto_aprobado_anteriores_total|format_number}}</td>
                  <td>{{datos_reestudios.sin_separacion.cant_aprobado_aprob|format_number}} ({{datos_reestudios.porcentaje_total_aprob}}%)</td> 
                </tr>
            </tfoot>
        </table>
    </section>
    <section class="clientes">
        <h2>Reducciones / cancelaciones</h2>
        <table>
            <thead>
                <tr>
                    <th>Gestión</th>
                    <th>#</th>
                    <th>Anterior</th>
                    <th>Vigente</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>REDUCCIÓN</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>CANCELADO</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
            <tfoot>
                <tr>
                  <td>Total</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
            </tfoot>
        </table>
    </section>
    <section class="clientes">
        <h2></h2>
        <div class="table-container">
        <table class="tabla-reducciones-cancelaciones">
            <thead>
                <tr>
                    <th>Razón social</th>
                    <th>Gestión</th>
                    <th>Exposición</th>
                    <th>Cubierto</th>
                    <th>Anterior</th>
                    <th>Actual</th>
                    <th>Estado deuda</th>
                    <th>Comercial</th>
                    <th>División</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <!-- Más filas aquí -->
            </tbody>
        </table>
    </div>
    </section>
    <section class="clientes">
        <h2>Prorrogas solicitadas</h2>
        <table>
            <thead>
                <tr>
                    <th>Razón social</th>
                    <th>Monto</th>
                    <th>Cubierto</th>
                    <th>Vencimiento</th>
                    <th>Prorroga</th>
                    <th>Estado</th>
                    <th>Comercial</th>
                    <th>División</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                
                <!-- Más filas aquí -->
            </tbody>

        </table>
    </section>
    {% endif %}
</body>

</html>
