{% extends "base.html" %}
{% load app_extras %}


{% load static %}
{% block content %}
  <section class="mb-4">
  <div class="container-fluid h-custom">
    <h1 class="h2 mt-5 pt-5">Tarifas para inclusiones a flotas</h1>
    {% if messages %}

    {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger m-0 p-0" role="alert">
        {{ message }}
      </div>
      {% elif message.tags == 'success' %}
      <div class="alert alert-success m-0" role="alert">
        {{ message }}
      </div>
      {% else %}
      <div class="alert alert-primary m-0" role="alert">
        {{ message }}
      </div>
      {% endif %}
    {% endfor %}

  {% endif %}
    </div>
      <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
        
    <div class="col">
      <div class="card mb-3 p-4 border-0 shadow-sm" style="max-width: 540px;">
        <h4 class="h4 ">Importar desde excel</h4>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            
            <label for="formFile" class="form-label">Excel a importar</label>
            <input name="file1" class="form-control" type="file" id="formFile">
          </div>
          <button name="importar_excel" class="btn btn-primary mt-3" type="submit">Importar datos</button>
    
          
      </form>
    

      
      

        </div>
      </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar tarifa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="modal-body">
            
                <div class="mb-3">
                  <label for="titulo" class="form-label">Título: </label>
                  <input name="titulo" type="text" class="form-control" placeholder="Título" aria-label="Título" aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <label for="zona" class="form-label">Zona: </label>
                    <input name="zona" type="text" class="form-control" placeholder="Zona" aria-label="Zona" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="tipo_vehiculo" class="form-label">Tipo de vehículo: </label>
                    <input name="tipo_vehiculo" type="text" class="form-control" placeholder="Tipo de vehículo" aria-label="Tipo de vehículo" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="antiguedad" class="form-label">Antiguedad: </label>
                    <input name="antiguedad" type="text" class="form-control" placeholder="Antiguedad" aria-label="Antiguedad" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="tipo_cobertura" class="form-label">Tipo de cobertura: </label>
                    <input name="tipo_cobertura" type="text" class="form-control" placeholder="Tipo de cobertura" aria-label="Tipo de cobertura" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="tasa" class="form-label">Tasa c/CAA: </label>
                    <input name="tasa" type="number" class="form-control" step="0.01" min="0" placeholder="Tasa c/CAA" aria-label="Tasa c/CAA" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="prima_rc_anual" class="form-label">Prima RC anual: </label>
                    <input name="prima_rc_anual" type="number" class="form-control" step="0.01" min="0" placeholder="Prima RC anual" aria-label="Prima RC anual" aria-describedby="basic-addon1">
                  </div>

                
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
      </div>
    </div>
  </div>
        
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 ">
      <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar tarifa
      </button>
      
      <form method="POST" action="{% url 'tarifas_flotas' %}" id="deleteForm">
        {% csrf_token %}
        <input type="hidden" name="delete_data" value="delete_data">
        <button type="submit" class="btn btn-danger" id="deleteButton">Eliminar datos</button>
      </form>
      </div>

        

  </div>         
            <div class="table-responsive mb-2">
            
                <table class="table table bg-white rounded shadow-sm">
                    <thead>
                      <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Zona</th>
                        <th scope="col">Tipo de vehiculo</th>
                        <th scope="col">Antiguedad</th>
                        <th scope="col">Tipo de cobertura</th>
                        <th scope="col">Tasa c/CAA</th>
                        <th scope="col">Prima RC anual</th>
                        

                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for tarifa in pages %}
                      
                      <tr>
                          <td>{{ tarifa.titulo }}</td>
                          <td>{{ tarifa.zona }}</td>
                          <td>{{ tarifa.tipo_vehiculo }}</td>
                          <td>{{ tarifa.antiguedad }}</td>
                          <td>{{ tarifa.tipo_cobertura }}</td>
                          <td>{{ tarifa.tasa }}</td>
                          <td>{{ tarifa.prima_rc_anual }}</td>


      
      
                          <td>
                            <a class="w-10 btn btn-sm btn-primary" href="{% url 'detalle_tarifa_flota' tarifa.id %}">
                              <span class="material-icons-outlined align-middle">
                                edit
                              </span>
                            </a>
                          </td>
                          <td>
                            
                            <button type="submit" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar" data-url="{% url 'delete_tarifa' tarifa.id %}">
                              <span class="material-icons-outlined align-middle">
                                delete
                              </span>
                            </button>
                       
                          
                          </td>
                        </tr>
                     
                  
                      {% endfor %}
                    </tbody>
                </table>
            </div>  
            <div class="app-table">
            <div class="table-output">
      <tbody id="table-body" class="table-body"> </tbody></div>
          </div>
        </div>
      <div class="mx-2">
              <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
      
      
                  {% if pages.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; primer página</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="{% my_url pages.previous_page_number 'page' request.GET.urlencode %}">anterior</a>
                    </li>
      
                      {% endif %}
            
            
                      <li class="page-item">
                        
                      <a class="page-link" href="{% my_url pages.number 'page' request.GET.urlencode %}">{{ pages.number }}</a>
                    
                     
                      </li>
                      <li class="page-item">
                        
                        <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">{{ pages.paginator.num_pages }}</a>
                      
                       
                        </li>
                  
                
             
                  {% if pages.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="{% my_url pages.next_page_number 'page' request.GET.urlencode %}">siguiente</a>
                   </li>
                   <li class="page-item">
                  <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">última página &raquo;</a>
                </li>
                  {% endif %}
                </ul>
                </nav>
         
        </div>
        </div>
      </div>
    </div>
      

  </section>
  <script src="{% static 'js/swal.js' %}"></script>
  <script src="{% static 'js/fileInput.js' %}"></script>
{% endblock %}