{% extends "base.html" %}
{% load app_extras %}


{% load static %}
{% block content %}
  <section class="mb-4">
  <div class="container-fluid h-custom">
      <div class="mt-5 pt-5">
        <div class="container-fluid h-custom">
          <h1 class="h2">Clientes</h1>
          {% if messages %}

            {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger m-0 p-0" role="alert">
                {{ message }}
              </div>
              {% elif message.tags == 'success' %}
              <div class="alert alert-success m-0" role="alert">
                {{ message }}
              </div>
              {% else %}
              <div class="alert alert-primary m-0" role="alert">
                {{ message }}
              </div>
              {% endif %}
            {% endfor %}

          {% endif %}

          </div>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 " id="exampleModalLabel">Agregar cliente</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="modal-body">
            
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre completo del cliente: </label>
                  <input name="nombre" type="text" class="form-control" placeholder="Nombre completo" aria-label="Nombre completo" aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Cuit del cliente: </label>
                    <input name="cuit" type="text" class="form-control" placeholder="Cuit" aria-label="Cuit" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Nacionalidad: </label>
                    <input name="nacionalidad" type="text" class="form-control" placeholder="Nacionalidad" aria-label="Nacionalidad" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Provincia: </label>
                    <input name="provincia" type="text" class="form-control" placeholder="Provincia" aria-label="Provincia" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Localidad: </label>
                    <input name="localidad" type="text" class="form-control" placeholder="Localidad" aria-label="Localidad" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Dirección: </label>
                    <input name="direccion" type="text" class="form-control" placeholder="Dirección" aria-label="Dirección" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Teléfono: </label>
                    <input name="telefono" type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="nombre" class="form-label">E-mail: </label>
                    <input name="email" type="email" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="recargo_financiero" class="form-label">Recargo financiero: </label>
                    <input name="recargo_financiero" type="number" class="form-control" step="0.01" min="0" placeholder="Recargo financiero" aria-label="Recargo financiero" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="impuestos" class="form-label">Impuestos: </label>
                    <input name="impuestos" type="number" class="form-control" step="0.01" min="0" placeholder="Impuestos" aria-label="Impuestos" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="sellados" class="form-label">Sellados: </label>
                    <input name="sellados" type="number" class="form-control" step="0.01" min="0" placeholder="Sellados" aria-label="Sellados" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="iva" class="form-label">IVA: </label>
                    <input name="iva" type="number" class="form-control" step="0.01" min="0" placeholder="IVA" aria-label="IVA" aria-describedby="basic-addon1">
                  </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
      </div>
    </div>
  </div>
        
     

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 ">
               <!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar cliente
</button>

       
      </div>
         
            <div class="table-responsive mb-2">
            
                <table class="table bg-white rounded shadow-sm">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre cliente</th>
                        <th scope="col">Cuit</th>
                        <th scope="col">Nacionalidad</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Email</th>
                        <th scope="col">RF</th>
                        <th scope="col">Impuestos</th>
                        <th scope="col">Sellados</th>
                        <th scope="col">IVA</th>

      
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for cliente in pages %}
                      
                      <tr>
                          <td>{{ cliente.id }}</td>
                          <td>{{ cliente.nombre_cliente }}</td>
                          <td>{{ cliente.cuit }}</td>
                          <td>{{ cliente.nacionalidad }}</td>
                          <td>{{ cliente.provincia }}</td>
                          <td>{{ cliente.localidad }}</td>
                          <td>{{ cliente.direccion }}</td>
                          <td>{{ cliente.telefono }}</td>
                          <td>{{ cliente.email }}</td>
                          <td>{{ cliente.recargo_financiero }}</td>
                          <td>{{ cliente.impuestos }}</td>
                          <td>{{ cliente.sellados }}</td>
                          <td>{{ cliente.iva }}</td>

                          <td>
                            <a class="w-10 btn btn-sm btn-primary" href="{% url 'detalle_cliente' cliente.id %}">
                              <span class="material-icons align-middle">
                                edit
                                </span>
                            </a>
                          </td>
                          <td>
                       
                            <button type="submit" class="w-10 btn btn-sm btn-danger eliminar-elemento confirmar-eliminar" data-url="{% url 'delete_cliente' cliente.id %}">
                              <span class="material-icons align-middle">
                                delete
                                </span>
                            </button>
                          </td>
                        </tr>
                     
                  
                      {% endfor %}
                    </tbody>
                </table>
            </div>  
            <div class="app-table">
            <div class="table-output">
      <tbody id="table-body" class="table-body"> </tbody></div>
          </div>
        </div>
      <div class="mx-2">
              <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
      
      
                  {% if pages.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; primer página</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="{% my_url pages.previous_page_number 'page' request.GET.urlencode %}">anterior</a>
                    </li>
      
                      {% endif %}
            
            
                      <li class="page-item">
                        
                      <a class="page-link" href="{% my_url pages.number 'page' request.GET.urlencode %}">{{ pages.number }}</a>
                    
                     
                      </li>
                      <li class="page-item">
                        
                        <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">{{ pages.paginator.num_pages }}</a>
                      
                       
                        </li>
                  
                
             
                  {% if pages.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="{% my_url pages.next_page_number 'page' request.GET.urlencode %}">siguiente</a>
                   </li>
                   <li class="page-item">
                  <a class="page-link" href="{% my_url pages.paginator.num_pages 'page' request.GET.urlencode %}">última página &raquo;</a>
                </li>
                  {% endif %}
                </ul>
                </nav>
         
        </div>
        </div>
      </div>
    </div>
      

  </section>
  <script src="{% static 'js/swal.js' %}"></script>
{% endblock %}